@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 40vh;
    background-size: cover;
    
}

.login {
    width: 320px;
    height: 420px;
    border: 2px solid black;
    border-radius: 80px 0px 80px 0px;
    color: aliceblue;
    background-color: rgba(0, 0, 5, .8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 68px 28px;
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid aliceblue;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: aliceblue;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: black;
    background-color: aliceblue;
    border-radius: 20px;

}

.login input[type="submit"]:hover {
    color: aliceblue;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    transition: .2s;

}

.login a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: rgb(71, 71, 71);
    transition: 0.2s;
}

.login a:hover {
    color: aliceblue;
    transition: 0.2s;
}

.usuarioIcon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: 112px;
}

h1 {
    margin: 0;
    padding: 0 0 20px 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: .8em;
}